<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> {% block title %}ABSHORE{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />


    {% endblock %}
  </head>
  <body>
       <div class="container">
      <nav class="navbar navbar-default" role="navigation">
 
 <div class="navbar-header">
    
    <a class="navbar-brand" href="{{ path('tableau_board') }}">Dashboard</a>
  </div>


  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">

  {% if is_granted('ROLE_ADMIN') %}

   <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false">
                    Gérer Users<b class="caret"></b>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                         <li><a tabindex="-1" href="{{ path('etudiant') }}">Etudiants</a></li>
                        <li class="divider"></li>
                                
                        <li><a tabindex="-1" href="{{ path('prof') }}">Profs</a></li>
                        <li class="divider"></li>

                           <li><a tabindex="-1" href="{{ path('admin') }}">Admins</a></li>
                     
                </ul>
                </li>


 {%endif%}
  
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
           
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="false">
                    Bienvenue {{ app.user.username }}<b class="caret"></b>
                </a>

                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                     {#   <li><a tabindex="-1" href="#">Connecté en tant que {{ app.user.username }} </a></li>#}

                        
                        
                       
                          <li><a tabindex="-1" href="{{ path('tableau_board') }}">Tableau de Board</a></li>
                        <li class="divider"></li>
                                 {% if is_granted('ROLE_ETUDIANT') %}  
                        <li><a tabindex="-1" href="{{ path('etudiant_editperso') }}">Modifier mon profil</a></li>
                        <li class="divider"></li>
                         {%endif%}
                                  {% if is_granted('ROLE_PROF') %}  
                        <li><a tabindex="-1" href="{{ path('prof_editperso') }}">Modifier mon profil</a></li>
                        <li class="divider"></li>
                         {%endif%}
                                  {% if is_granted('ROLE_ADMIN') %}  
                        <li><a tabindex="-1" href="{{ path('admin_editperso') }}">Modifier mon profil</a></li>
                        <li class="divider"></li>
                         {%endif%}
        
 

 <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    </ul>
                </li>

             {#       <a href="#"> Connecté en tant que {{ app.user.username }} </a> </li>
              
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>#}
                            {% else %}
                <li>       
                        {#% include "FOSUserBundle:Security:login.html.twig" %#}
                     {#  <a href="{{ path('fos_user_security_login') }}">Connexion</a>#}
                         {{ render(controller('FOSUserBundle:Security:Login'))}}
                            {% endif %}
                    </li> 


                


                      </ul>

</div>
</nav>

               
               
         
      
      </div>
      
          {% block body %}
        
      
          {% endblock %}
      
  {% block javascripts %}
    {# Ajoutez ces javascripts si vous comptez vous servir des
fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
  {% endblock %}
  </body>
</html>