{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Etudiant</h1>

    <table class="table table-bordered table-striped table-condensed table-hover" style="width: 80%; margin-left: 10%;margin-top: 100px;">
          <tbody>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
            
           
            <tr>
                <th>Lastlogin</th>
                <td>{{ entity.lastLogin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{{ entity.locked }}</td>
            </tr>
            <tr>
                <th>Expired</th>
                <td>{{ entity.expired }}</td>
            </tr>
            <tr>
                <th>Expiresat</th>
                <td>{{ entity.expiresAt|date('Y-m-d H:i:s') }}</td>
            </tr>
           
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    
        <a class="btn btn-primary" href="{{ path('etudiant') }}">
            Back to the list
        </a>
    
        <a class="btn btn-success" href="{{ path('etudiant_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    
        <form action="{{ path('etudiant_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    
</ul>
{% endblock %}
